/* =================================================================
mixins
================================================================= */
//shorthand for media queries
@mixin breakpoint($break) {
	@media screen and (min-width: $break) {
		@content;
	}
}

@mixin filter($params...) {
	-webkit-filter: $params;
	filter: $params;
}

//linear gradient background with solid color fallback support for older browsers
@mixin linear-gradient($fallback, $direction, $colorstops...) {
	background: linear-gradient($direction, $colorstops...);
	background-color: $fallback;
}

//flexbox prefix helpers
@mixin display-flex {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

@mixin flex-property($property, $value) {
	-ms-#{$property}: $value;
	-webkit-#{property}: $value;
	#{property}: $value;
}

//keyframes animation builder -> adds -webkit prefix
@mixin keyframes ($animation_name) {
	@-webkit-keyframes #{$animation_name} {
		@content;
	}
	@keyframes #{$animation_name} {
		@content;
	}
}

//animation property builder -> adds -webkit prefix
@mixin animation($params) {
	animation: $params;
    -webkit-animation: $params;
}

//responsive sprite background images
@mixin squishy-sprite($sprite, $index) {
	background-position: (100% / (length(sprite-names($sprite)) - 1))*($index - 1) 0;
	background-size: auto 100%;
	-webkit-backface-visibility: hidden;
}


/* =================================================================
extends
================================================================= */
//automatically add prefixing for box-sizing
//@extend %borderbox
%borderbox { 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

//make element invisible on screen but still visible to screen readers
//@extend %wai
%wai {
	margin: 0;
	padding: 0;
	position: absolute;
	text-indent: -9999em;
	-webkit-appearance: none;
	z-index: -1;
}

